<div class="bg-gray-200 flex items-center justify-between p-4">
  <div>
    <button matButton>back to Course</button>
  </div>
  <div>
    <h1 class="text-xl font-medium">{{ store.selectedCourse().title }}</h1>
    <div class="flex justify-center gap-2 items-center w-100">
      <div class="flex-1">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div>
        13% complete
      </div>
    </div>
  </div>
  <div class="flex items-center gap-3">
    <button matButton="tonal">My Courses</button>
    <button matIconButton (click)="isOpened.set(!isOpened())" matTooltip="{{isOpened() ? 'close panel': 'see course content'}}">
      <mat-icon>{{ isOpened() ? 'close': 'menu'}}</mat-icon>
    </button>
  </div>
</div>
<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="isOpened()" position="end">
    <div>
      <h2 class="text-2xl text-center font-medium mt-2 text-gray-900">Course Content</h2>
      <p class="text-gray-400 mb-2 text-center">16 lectures • 13% complete</p>
      <mat-divider />
      <mat-accordion class="example-headers-align" multi>

    @for(section of store.selectedCourse().sections; track section.id) {
      <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title> {{ section.title }} </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        @for(lecture of section.lectures; track lecture.id) {
          <a mat-list-item (click)="openLectureVideo(lecture.videoUrl)">
          <mat-icon matListItemIcon>play_circle_outline</mat-icon>
          <span matListItemTitle>{{ lecture.title }}</span>
          <div matListItemMeta>
            5:23
          </div>
        </a>
        }
      </mat-nav-list>
    </mat-expansion-panel>
    }
  </mat-accordion>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="max-w-[1200px] mx-auto " >
    <div>
      <video #videoPlayer controls>
        <source [src]="videoUrl() == defaultVideo ? defaultVideo : `http://localhost:5050/${videoUrl()}`" />
      </video>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
