<div class="min-h-screen flex flex-col">

  <!-- HEADER -->
  <div class="bg-blue-50 py-12">
    <div class="max-w-7xl mx-auto px-4">
      <h1 class="text-3xl font-bold mb-3">Explore Courses</h1>
      <p class="text-gray-600">
        Choose from {{ store.courses().totalCount }}+ courses
      </p>
    </div>
  </div>

  <!-- SEARCH + SORT -->
  <div class="bg-white border-b !border-slate-200 sticky top-16 z-40">
    <div class="max-w-7xl mx-auto px-4 py-4 flex flex-col md:flex-row gap-4">

      <!-- SEARCH -->
      <div class="flex-1 relative">
        <input
          type="text"
          placeholder="Search courses..."
          class="w-full border !border-slate-200 rounded-lg pl-10 p-2"
          (input)="onSearch($any($event.target).value)"
        />
      </div>

      <!-- SORT -->
      <select
        class="border !border-slate-200 rounded-lg p-2"
        (change)="onSorting($any($event.target).value)"
      >
        <option value="popular">Most Popular</option>
        <option value="rating">Highest Rated</option>
        <option value="price-low">Price Low</option>
        <option value="price-high">Price High</option>
      </select>

    </div>
  </div>

  <!-- MAIN -->
  <div class="max-w-7xl mx-auto px-4 py-8 flex gap-8">

    <!-- SIDEBAR -->
    <aside class="hidden lg:block w-64">
      <app-filter-sidebar
        [filters]="filters()"
        (filtersChange)="updateFilters($event)">
      </app-filter-sidebar>
    </aside>

    <!-- CONTENT -->
    <div class="flex-1">

      <p class="text-gray-500 mb-4">
        Showing {{ store.courses().totalCount }} courses
      </p>

      <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-6">

        @for (course of store.courses().pageItems; track course.id) {
          <app-course-card [course]="course" />
        }

      </div>

      <app-paginator
        [pageSize]="store.courses().pageSize"
        [totalPages]="store.courses().totalPages"
        [currentPage]="store.courses().pageNumber"
        (page)="onPageChange($event)"
      />
    </div>
  </div>

</div>
