<div class="my-10">
  <div class="flex justify-between items-center mb-5">
    <h1 class="text-2xl font-bold">Course Curriculum</h1>
    <span class="text-gray-500">256 lectures • 42 hours</span>
    <button matButton (click)="changeAccordionStatus()">{{ isExpanded() ? 'Collapse All' : 'Expand All' }}</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    @for(section of course().sections; track section.id) {
      <app-course-section [section]="section" />
    }
  </mat-accordion>
</div>
