<div class="p-4 border ">
  <h2 class="text-2xl font-bold mb-4">Order Summary</h2>
  <div class="flex gap-3">
    <img class="w-20 h-20" src="https://static-media.hotmart.com/xNdbvyeSRlxqLUOMtKmM4jR8wbk=/705x0/https://uploads.teachablecdn.com/attachments/3d1d514811ac44c0806c4cfda9bdb56f.png" alt="course image">
    <span class="text-xl">Core Computer Science for modern Developers</span>
    <span class="font-bold text-lg">$15</span>
  </div>
  <div class="flex justify-between border-t pt-3 font-bold text-lg">
    <span>Total</span>
    <span>$15</span>
  </div>
</div>
